.container {
  background-color: rgb(192, 201, 201);
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 20px;
  border-radius: 0 30px 0 50px;
}
.Message {
  color: rgb(8, 13, 17);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
